src/main/mule/choreo-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="34f6cf08-517c-4fc7-80b6-0cca35ac1983" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="choreo-demoFlow" doc:id="a698957f-b058-473b-ba80-3f2dabf081a0" >
		<http:listener doc:name="Listener" doc:id="5dd7fb83-9461-4c25-b814-edacb079018e" config-ref="HTTP_Listener_config" path="/choreo"/>
		<ee:transform doc:name="Transform Message" doc:id="a0598599-8f50-4fb7-a4ba-93a1675e1bdd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"name": "raj",
	"role": "software engineer"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="63f9400f-4869-4bbf-9b4f-b778f2319c6d" message="#[payload]"/>
	</flow>
</mule>
